.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.taskCompleted {
  display: flex;
  gap: 0.5rem;
}

.taskCompleted strong {
  color: var(--blue-500);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16.94px;
}

.taskCompleted span {
  width: 1.5625rem;
  height: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-400);
  padding: 2px, 8px, 2px, 8px;
  border-radius: 999px;
}

.taskProgress {
  display: flex;
  gap: 0.5rem;
}

.taskProgress strong {
  color: var(--purple-500);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16.94px;
}

.taskProgress span {
  width: 1.5625rem;
  height: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-400);
  padding: 2px, 8px, 2px, 8px;
  border-radius: 999px;
}
